<html>
	<head></head>
	<body>
          <strong>Welcome to Loccum Assistant</strong>
          @RenderBody()
       
          Regards,
        <br />
        <strong >SHIVAM ITCS</strong> 
	</body>
</html>