





<div style="" marginheight="0">

<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#eaeaea">
        <tbody><tr>
            <td>
                <table width="650" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#eaeaea">
                    <tbody><tr>
                        <td>
                            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                                <tbody><tr>
                                    <td colspan="3" bgcolor="#eaeaea" style="text-align:center;padding:12px 25px 8px 25px"><div style="display:block;font-family:Calibri,Arial,sans-serif;font-size:12px;color:#555555;line-height:16px">Get started today with your free, web-based EHR by logging in and following the guided tips!</div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="font-size:30px;line-height:30px;background-color:#2d89ef">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="25">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td width="550" style="line-height:15px">
                                    


<div style="display:block;margin-top:3px;font-family:Calibri,Arial,sans-serif;font-size:16px;color:#222222;line-height:22px">

<strong>Hello Dr. @ViewBag.LastName,</strong><br><br>

Congratulations on joining our community of over 150,000 medical professionals using Locum Assistant! You can use our built-in training to quickly and easily learn your new EHR.
<br><br>
Start by logging in and following the steps to learn to chart a patient visit:

<br><br><table width="400" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#eaf5fa" style="font-size:4px;line-height:4px">
        <tbody><tr>
            <td width="4" height="4" style="font-size:4px;line-height:4px"><img src="http://image.exct.net/lib/fecf167075630678/i/1/cc2b7bfa-4.gif" width="4" height="4" style="display:block" alt=""></td>
            <td style="font-size:4px;line-height:4px">&nbsp;</td>
            <td style="font-size:4px;line-height:4px">&nbsp;</td>

            <td style="font-size:4px;line-height:4px">&nbsp;</td>
            <td width="4" height="4" style="font-size:4px;line-height:4px"><img src="http://image.exct.net/lib/fecf167075630678/i/1/927d78d2-a.gif" width="4" height="4" style="display:block" alt=""></td>
        </tr>
        <tr>
            <td colspan="5" style="font-size:18px;line-height:18px">&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td width="25"></td>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody><tr>
                        <td width="116"><div style="background-color:#eaf5fa;font-size:6px;line-height:6px"><table cellpadding="0" cellspacing="0" border="0" bgcolor="#005e97" style="font-size:1px;line-height:1px">
        <tbody><tr>
            <td height="4"><img src="http://image.exct.net/lib/fecf167075630678/i/1/9916ceb5-2.gif" width="4" height="4" style="display:block" alt=""></td>
            <td height="4"></td>
            <td height="4"><img src="http://image.exct.net/lib/fecf167075630678/i/1/4ee73ad8-c.gif" width="4" height="4" style="display:block" alt=""></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align:center;padding:2px 0px 2px 0px"><div style="display:block;font-family:Calibri,Arial,sans-serif;font-size:18px;line-height:22px"><a href="http://locum.azurewebsites.net/?ID=@ViewBag.UserName" style="display:block;padding:6px;color:#ffffff;text-decoration:none" target="_blank">&nbsp;&nbsp;<strong>Log&nbsp;in&nbsp;<span style="font-size:17px">»</span></strong>&nbsp;&nbsp;</a></div></td>
            <td></td>
        </tr>
        <tr>
            <td height="4"><img src="http://image.exct.net/lib/fecf167075630678/i/1/2a94013c-5.gif" width="4" height="4" style="display:block" alt=""></td>
            <td height="4"></td>
            <td height="4"><img src="http://image.exct.net/lib/fecf167075630678/i/1/a23a804c-3.gif" width="4" height="4" style="display:block" alt=""></td>
        </tr>
    </tbody></table></div></td>
                        <td>
                             <div style="display:block;font-family:Calibri,Arial,sans-serif;font-size:16px;color:#222222;line-height:22px">
                             <strong>Locum ID:</strong> dashrathkumawat6<br>
                             <strong>Username:</strong> @ViewBag.UserName
                             </div>
                        </td>
                    </tr>
                </tbody></table>
            </td>
            <td width="25"></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5" style="font-size:18px;line-height:18px">&nbsp;</td>
        </tr>
        <tr>
            <td width="4" height="4" style="font-size:4px;line-height:4px"><img src="http://image.exct.net/lib/fecf167075630678/i/1/b3cee97f-1.gif" width="4" height="4" style="display:block" alt=""></td>
            <td style="font-size:4px;line-height:4px">&nbsp;</td>
            <td style="font-size:4px;line-height:4px">&nbsp;</td>
            <td style="font-size:4px;line-height:4px">&nbsp;</td>
            <td width="4" height="4" style="font-size:4px;line-height:4px"><img src="http://image.exct.net/lib/fecf167075630678/i/1/313e3152-2.gif" width="4" height="4" style="display:block" alt=""></td>
        </tr>
    </tbody></table><br>

After exploring your EHR, check out our <a href="#" style="color:#0068a4;text-decoration:underline" target="_blank">on-demand videos</a> to learn more at your own pace. If you need help, our free support is available by <a href="" style="color:#0068a4;text-decoration:underline" target="_blank">live chat</a> to answer any questions you have.
<br><br>
We're excited to help you get started. Welcome to the fastest-growing EHR community in the country!
<br><br>
Kind regards,
<br><br>
    <span style="font-style:oblique;">Yasar</span><br>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody><tr>
      <td>
<div style="display:block;font-family:Calibri,Arial,sans-serif;font-size:16px;color:#222222;line-height:22px">
Yasar<br>
CEO, Locum Assistant<br>
<a href="mailto:ceo@LocumAssistant.com" style="color:#0068a4;text-decoration:none" target="_blank">ceo@LocumAssistant.com</a>
</div>
      </td>
      <td>
<div style="display:block;text-align:right;font-family:Calibri,Arial,sans-serif;font-size:14px;line-height:22px;color:#555555"><br><br>
Find us on: &nbsp;&nbsp;&nbsp; <a href="#" target="_blank"><img src="http://image.exct.net/lib/fecf167075630678/i/1/d64cd62e-6.gif" width="19" height="19" border="0" alt="Facebook" title="Facebook"></a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="#" target="_blank"><img src="http://image.exct.net/lib/fecf167075630678/i/1/d0bfb5b0-3.gif" width="19" height="19" border="0" alt="Twitter" title="Twitter"></a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="#" target="_blank"><img src="http://image.exct.net/lib/fecf167075630678/i/1/0efc23b1-4.gif" width="19" height="19" border="0" alt="LinkedIn" title="LinkedIn"></a></div>
      </td>
    </tr>
</tbody></table>        

</div>



</td>
                                    <td width="25">&nbsp;&nbsp;&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="font-size:15px;line-height:15px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3"><img src="http://image.exct.net/lib/fecf167075630678/i/1/10362209-9.gif" width="600" height="20" style="display:block" alt=""></td>
                                </tr>
                                <tr>
                                    <td colspan="3" bgcolor="#eaeaea" style="padding:12px 25px 8px 25px"><div style="display:block;font-family:Calibri,Arial,sans-serif;font-size:12px;color:#555555;line-height:16px">
<strong>This email was sent to <a href="" style="color:#0068a4;text-decoration:none" target="_blank">dashrath.k<wbr>shivamitconsultancy.com</a></strong><br>
<a href="http://locum.azurewebsites.net/" style="color:#0068a4;text-decoration:none" target="_blank">Privacy Policy</a> | <a href="http://locumassistance.azurewebsites.net/Home/Api/1" style="color:#0068a4;text-decoration:none" target="_blank">About Locum Assistant</a>
<br><br>
<em>Please note that Locum Assistant will never ask for passwords or payment information via email.</em><br>
The contents of this message, together with any attachments, are intended only for the use of the individual or entity to which they are addressed and may contain information that is legally privileged, confidential and exempt from disclosure. If you are not the intended recipient, you are hereby notified that any dissemination, distribution or copying of this message, or any attachment, is strictly prohibited. If you have received this message in error, please notify the original sender or contact Locum Assistant at 415.346.7700 immediately by telephone or by return email and delete this message, along with any attachments, from your computer. 
<br><br>
Locum Assistant | 420 Taylor St. | San Francisco, CA, 94102 USA

                                    </div><br></td>
                                </tr>
                          </tbody></table></td>
                    </tr>
                </tbody></table></td>
        </tr>
    </tbody></table>
   
    <map name="13bfa6dd2c7842c4_header">
        <area shape="rect" coords="9,12,181,50" href="http://locum.azurewebsites.net/" alt="" target="_blank">
        <area shape="rect" coords="490,13,586,52" href="http://locum.azurewebsites.net/" alt="" target="_blank">
    </map>

<div></div><img src="https://r3gef9ka.emltrk.com/r3gef9ka?d=dkumawat" width="1" height="1" border="0"><div class="yj6qo"></div><div class="adL">

</div></div>