/*
	Totem Ticker Stylesheet
	Zach Dunn / Build Internet (buildinternet.com)
	Winter 2011
*/


*
{
    margin: 0;
    padding: 0;
}





/* Top Banner */
#banner .clear
{
    height: 0px;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    display: block;
}
#banner
{
    z-index: 100;
    background: #1a1a1a;
    padding: 10px 0;
    width: 100%;
    display: block;
}
#banner.transparent
{
    background-color: transparent;
}
#banner.above
{
    position: absolute;
    top: 0;
    left: 0;
}
#banner .logo-zone
{
    height: auto;
    clear: left;
    float: left;
    overflow: hidden;
}
#banner h1#logo-link
{
    height: 57px;
    width: 160px;
    margin: 24px 12px;
    background: url('../images/build-internet-logo-shadow.png') no-repeat top left;
}
#banner h1#logo-link a
{
    text-indent: -9999px;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#wrapper
{
    width: 300px;
}


.nav
{
}



/*

	This is the only semi-important stuff for plugin installation
	It's just an example, so customize away!
*/

#vertical-ticker
{
    height: 243px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}

#vertical-ticker li
{
    padding-top:0px;
    padding-bottom:0px;
    padding-right:20px;
    padding-left:20px;
    display: block;
    background: #fff;
    color: #333;
    border: 1px solid #ddd;
    font-weight: bold;
    height: 121px;
    
}
