@model IEnumerable<AutoComplete.Models.bookmarks>
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<script type="text/javascript">

    var dateRegExp = /^\/Date\((.*?)\)\/$/;

    function toDate(value) {
        var date = dateRegExp.exec(value);
        return new Date(parseInt(date[1]));
    }

    var linkObj;
    //$(".createAdmission").button();
    $(function () {

        $("#gtheme").click(function () {
            $("#themeWrap").toggle("slow");
            $(this).toggle("slow");

        });
        $('#UpdateBookmarkDialog').dialog({
            autoOpen: false,
            width: 1000,
          //  minHeight: 430,
            resizable: false,
            modal: true,
            buttons: {
                "Update": function () {
                    $("#update-message").html(''); //make sure there is nothing on the message before we continue                         
                    $("#updatePForm").submit();
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });



        $('#bookmarkDialog').dialog({

            autoOpen: false,
            width: 1000,
         //   minHeight: 410,
            resizable: false,
            modal: true,
            buttons: {
                "Save": function () {
                    $("#update-message").html(''); //make sure there is nothing on the message before we continue                         
                    $("#updatePForm").submit();
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $('#bookmarkDetailDialog').dialog({
            autoOpen: false,
            width: 1000,
            resizable: false,
            modal: true,
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                }
            }
        });


        $('#MessageDialog').dialog({
            autoOpen: false,
            width: 500,
            resizable: false,
            modal: true,
            button: {
                "": function () {

                }
            }
        });

    });
    function failure() {
        alert("fail");

    }

    function updateSuccess(data) {
        if (data == "True") {
            //UpdateGrid()

            //now we can close the dialog
            $('#UpdateBookmarkDialog').dialog('close');
            $('#UpdateBookmarkDialog').empty();
            //Update grid
            //debugger;
            var grid = $("#cars-gridBmark").data("kendoGrid");
            // edit perticuler cel
            grid.dataSource.read();
            displayMessage();

        }
        else {
            $("#update-message").show();
        }
    }

    function updateCSuccess(data) {
        if (data == "True") {
            $('#ContactsDialog').dialog('close');
            //UpdateGrid()           
            //now we can close the dialog
            $('#bookmarkDialog').dialog('close');
            $('#bookmarkDialog').empty();
            $('#bookmarkDialog').html('');
            //Update grid
            //debugger;
            var grid = $("#cars-gridBmark").data("kendoGrid");
            // edit perticuler cel
            grid.dataSource.read();
            displayMessage();

        }
        else {
            $("#update-message").show();
        }
    }



    function displayMessage() {
        var dialogDiv1 = $('#MessageDialog');
        dialogDiv1.dialog('open');
        window.setTimeout(function () {
            dialogDiv1.dialog('close');
        }, 2000);
    }

    function UpdateGrid() {


    }

</script>
<script type="text/javascript">
    $(function () {
        //$("a").button();
        $("#cars-gridBmark").kendoGrid({
        width:'100%',
            pageable: true,
            sortable: true,                    
            groupable: true,
            filterable: true,
            columnMenu: true,
            dataSource: {
                transport: {
                    read: "@Url.Action("GetAllbookmarks", "bookmark")",
                    dataType: "json"
                },
                pageSize: 5
            },
            rowTemplate: kendo.template($("#Template").html()),
            dataBound: function (e) {
                $(".k-grid-delete").click(function (e) {
                    e.preventDefault();
                    {
                     
                        DeleteConfirm($(this).attr("href"));
                    }
                });

                $(".k-grid-edit").click(function (e) {
                    e.preventDefault();
                    //change the title of the dialgo
                    linkObj = $(this);
                    var dialogDiv = $('#UpdateBookmarkDialog');
                    var viewUrl = linkObj.attr('href');
                    $.get(viewUrl, function (data) {

                        dialogDiv.html(data);
                        //validation
                        var $form = $("#updatePForm");
                        // Unbind existing validation
                        $form.unbind();
                        $form.data("validator", null);
                        // Check document for changes
                    //    $.validator.unobtrusive.parse(document);
                        // Re add validation with changes
                        //$form.validate($form.data("unobtrusiveValidation").options);
                        //open dialog
                        dialogDiv.dialog('open');
                    });
                    return false;


                });



                $(".createAdmission").click(function (e) {

                    e.preventDefault();
                    //change the title of the dialgo
                    linkObj = $(this);
                    var dialogDiv = $('#bookmarkDialog');
                    var viewUrl = "/bookmark/Create";
                    $.get(viewUrl, function (data) {


                 

                        dialogDiv.html(data);
                        //validation

                       

                        var $form = $("#updatePForm");


                         
                        // Unbind existing validation
                        $form.unbind();
                        $form.data("validator", null);

                       
                        // Check document for changes
                    //    $.validator.unobtrusive.parse(document);

                       
                        // Re add validation with changes
                      //    $form.validate($form.data("unobtrusiveValidation").options);
                        //open dialog

                       
                        dialogDiv.dialog('open');

                        //                  alert(data)

                    });
                    return false;


                });



                $(".k-grid-detail").click(function (e) {

                    e.preventDefault();
                    //change the title of the dialgo
                    linkObj = $(this);
                    var dialogDiv = $('#bookmarkDetailDialog');

                    


                    var viewUrl = linkObj.attr('href');
                    $.get(viewUrl, function (data) {


                      

                        dialogDiv.html(data);

                        


                        dialogDiv.dialog('open');

                           alert("test");

                    });
                    return false;


                });
            }
        });

    });
    function KindoGrid() {

    }
      
</script>
<script type="text/javascript">

    function DeleteConfirm(toDelete) {
        var viewUrl = toDelete;

        $("#Bookmarkdialog").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                "Yes": function () {

                    $(this).dialog("close");

                    $.post(viewUrl, function (data) {
                     
                        var grid = $("#cars-gridBmark").data("kendoGrid");
                        // edit perticuler cel
                        grid.dataSource.read();
                    });
                    return false;
                },
                "No": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#Bookmarkdialog").dialog("open");
    }

   
    
    
</script>
<style type="text/css">
.span11
{
    width:100%  !important;
    margin:0px !important;
}
</style>
<div class="grid">
    <div class="row">
        <div class="span3">
       
    <a href="#" class="createAdmission k-button">Create New Bookmarks</a>

        </div>
        <div class="span8 bg-color-blue fg-color-white">
            <p class="long-text" style="margin:5px;">
             some text goes here some text goes heresome text goes heresome text goes here some text goes here some text goes heresome text goes heresome text goes here
             some text goes here some text goes heresome text goes heresome text goes here
            </p>
        </div>
    </div>
</div>

<div class="span11" > 


<table id="cars-gridBmark">
    <thead>
        <tr>
            <th data-field="Btitle">
                Title
            </th>
          
         
            <th data-field="url">
                URL
            </th>
           
            <th id="Action">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                Loading...
            </td>
        </tr>
    </tbody>
</table>
<script id="Template" type="text/x-kendo-template">    
    <tr>


       <td>
          #= Btitle#
        </td>

        <td>
          #=url#
        
      
        </td>
		
<td>
		 <a title="Delete" href="@Url.Action("Delete")/#= ID #" class="k-button k-button-icontext k-grid-delete"><span class="k-icon k-delete"></span>Delete</a>    
	<a title="Edit" href="@Url.Action("Edit")/#= ID #" class="k-button k-button-icontext k-grid-edit"><span class="k-icon k-edit"></span>Edit</a>          
		  <a title="Details" href="@Url.Action("Details")/#= ID #" class="k-button k-button-icontext k-grid-detail"><span class="k-icon k-detail"></span>Detail</a>        
        </td>
        
    </tr>
       
    
            

</script>

<div id="bookmarkDetailDialog" title="Bookmark Detail">
</div>
<div id="UpdateBookmarkDialog" title="Edit Bookmark Detail">
</div>
<div id="bookmarkDialog" title="New Bookmark">
</div>
<div id="Bookmarkdialog" title="Remove bookmark" style="width:100%">
  <div class="k-header">Do you really want to remove bookmark.</div>
</div>
<div id="MessageDialog" title="Success Message">
    <p>
        Action Perfomed succesfully.
    </p>
   
</div>
 <div id="update-message">
    </div>
</div>


<style type="text/css">
    #MessageDialog
    {
        text-align: center;
        
        font-size: 18px;
        font-weight: 900;
        display:none;
    }
</style>

