<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://locumassistance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-hk1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LocumAssistance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$LocumAssistance</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:azyvwfjfjh.database.windows.net,1433;Initial Catalog=Locum_DB;User ID=cirrus@azyvwfjfjh;Password=Ajaypaliwal1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AutoComplete.DataContext, AutoComplete" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ExcelConItemType" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:azyvwfjfjh.database.windows.net,1433;Initial Catalog=Locum_DB;User ID=cirrus@azyvwfjfjh;Password=Ajaypaliwal1" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|Expenses.xlsx;Extended Properties=Excel 12.0" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ExcelConItemType_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|Expenses.xlsx;Extended Properties=Excel 12.0" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ExcelCon" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:azyvwfjfjh.database.windows.net,1433;Initial Catalog=Locum_DB;User ID=cirrus@azyvwfjfjh;Password=Ajaypaliwal1" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|Expenses.xlsx;Extended Properties=Excel 12.0" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ExcelCon_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|Expenses.xlsx;Extended Properties=Excel 12.0" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:azyvwfjfjh.database.windows.net,1433;Initial Catalog=Locum_DB;User ID=cirrus@azyvwfjfjh;Password=Ajaypaliwal1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ExcelCon-Web.config Connection String">
      <ParameterValue>Data Source=tcp:azyvwfjfjh.database.windows.net,1433;Initial Catalog=Locum_DB;User ID=cirrus@azyvwfjfjh;Password=Ajaypaliwal1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ExcelConItemType-Web.config Connection String">
      <ParameterValue>Data Source=tcp:azyvwfjfjh.database.windows.net,1433;Initial Catalog=Locum_DB;User ID=cirrus@azyvwfjfjh;Password=Ajaypaliwal1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>