@model IEnumerable<AutoComplete.Models.InvoiceDetail>

@{
    ViewBag.Title = "unpaidinvoice1";
    Layout = null;
    
    
}

<h2>Invoice Detail</h2>

<script type="text/x-kendo-template" id="Tooltemplate">
                <div class="toolbar">
                    <label class="PracticesD-label" for="PracticesD">Select Status of Invoice:</label>
                    <input type="search" id="PracticesD" style="width: 150px"></input>
                   &nbsp&nbsp&nbsp&nbsp
                   <label class="PracticesD-label" for="PracticesD">Search by Invoice Date:</label>
                   <input type="text" id="endDate" name="endDate"/>
                   </div>
 </script>
<script type="text/javascript">

    var dateRegExp = /^\/Date\((.*?)\)\/$/;

    function toDate(value) {
        var date = dateRegExp.exec(value);
        return new Date(parseInt(date[1]));
    }

    var linkObj;
    //$(".SessioncreateAdmission").button();
    $(function () {

        $("#gtheme").click(function () {
            $("#themeWrap").toggle("slow");
            $(this).toggle("slow");

        });
        $('#UpdatePDialog').dialog({
            autoOpen: false,
            width: 1000,
            resizable: false,
            modal: true,
            buttons: {
                "Update": function () {
                    $("#update-message").html(''); //make sure there is nothing on the message before we continue                         
                    $("#updatePForm").submit();
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $('#SessionDialog').dialog({
            autoOpen: false,
            width: 1000,
            resizable: false,
            modal: true,
            buttons: {
                "Save": function () {
                    $("#update-message").html(''); //make sure there is nothing on the message before we continue                         
                    $("#updateSessionsForm").submit();
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


        $('#DetailDialog').dialog({
            autoOpen: false,
            width: 1000,
            resizable: false,
            modal: true,
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                }
            }
        });


        $('#MessageDialog').dialog({
            autoOpen: false,
            width: 500,
            resizable: false,
            modal: true,
            button: {
                "": function () {

                }
            }
        });





    });
    function failure() {
        alert("fail");

    }

    function updateSuccess(data) {


        if (data == "True") {
            //UpdateGrid()

            //now we can close the dialog
            $('#UpdatePDialog').dialog('close');
            $('#UpdatePDialog').empty();
            //Update grid
            //debugger;
            var grid = $("#grid").data("kendoGrid");
            // edit perticuler cel
            grid.dataSource.read();
            displayMessage();

        }
        else {
            $("#update-message").show();
        }
    }

    function updateCSuccess(data) {
        if (data == "True") {
            $('#ContactsDialog').dialog('close');
            //UpdateGrid()           
            //now we can close the dialog
            $('#SessionDialog').dialog('close');
            $('#SessionDialog').empty();
            $('#SessionDialog').html('');
            //Update grid
            //debugger;
            var grid = $("#grid").data("kendoGrid");
            // edit perticuler cel
            grid.dataSource.read();
            displayMessage();

        }
        else {
            $("#update-message").show();
        }
    }



    function displayMessage() {
        var dialogDiv1 = $('#MessageDialog');
        dialogDiv1.dialog('open');
        window.setTimeout(function () {
            dialogDiv1.dialog('close');
        }, 2000);
    }

    function UpdateGrid() {


    }

</script>
<script type="text/javascript">

    $(document).ready(function () {
   
    

        var gridTemp = $("#grid").kendoGrid({
            pageable: true,
            sortable: true,
            height: 370,
            columnMenu: true,
            toolbar: kendo.template($("#Tooltemplate").html()),
            groupable: true,
            filterable: true,
            dataSource: {
                transport: {
                    read: "@Url.Action("GetAllInvoice", "Invoice")",
                    dataType: "json"
                },
                pageSize: 5
            }, 
        rowTemplate: kendo.template($("#Templatesession").html()),
        dataBound: function (e) {
            $(".k-grid-delete").click(function (e) {
                e.preventDefault();
                {

                    PaidConfirm($(this).attr("href"));
                }
            });

       }
      
    });

   



         var status_item = [{ ID:"Paid", Name: "Paid Invoice" }, { ID: "Unpaid", Name: "Unpaid Invoice"}];
        var dropDown = $(".k-grid").find("#PracticesD").kendoDropDownList({
            dataSource:status_item,
            dataTextField: "Name",
            dataValueField: "ID",
            autoBind: false,
            optionLabel: "All",
            
        change: function () {
            var value = this.value();

            if (value) {
                
                gridTemp.data("kendoGrid").dataSource.filter ({ field: "Paid_Status", operator: "eq", value: value });
            } else {
                gridTemp.data("kendoGrid").dataSource.filter({});
            }
        } 
    });

    });

</script>
<script type="text/javascript">

    function PaidConfirm(toPaid) {
        var viewUrl = toPaid;

        $("#confirm_dialog").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                "Yes": function () {

                    $(this).dialog("close");

                    $.post(viewUrl, function (data) {

                        var grid = $("#grid").data("kendoGrid");
                        // edit perticuler cel
                        grid.dataSource.read();
                    });
                    return false;
                },
                "No": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#confirm_dialog").dialog("open");
    }




</script>

<style type="text/css">
.span11
{
    width:100%  !important;
    margin:0px !important;
}
</style>
<div class="grid">
    <div class="row">
        <div class="span3">
       
  

        </div>
        <div class="span8 bg-color-blue fg-color-white">
            <p class="long-text" style="margin:5px;">
             some text goes here some text goes heresome text goes heresome text goes here some text goes here some text goes heresome text goes heresome text goes here
             some text goes here some text goes heresome text goes heresome text goes here
            </p>
        </div>
    </div>
</div>








<div class="Span10">


<table id="grid">
    <thead>
        <tr>
            <th data-field="Practice">
             Practice
            </th>
        
            <th data-field="InvoicedDate">
                Invoice Date
            </th>
          <th data-field="PaidDate">
                Paid Date
            </th>
             <th data-field="Total">
                Total
            </th>
             <th data-field="IsPaid">
                Is Paid?
            </th>

            <th id="Action">
                Mark as Paid?
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
              Loading...
            </td>
        </tr>
  
  </tbody></table>
  @foreach (var item in Model)
  {
     
      
      
  }

<script id="Templatesession" type="text/x-kendo-template">    
    <tr>
       <td>
   #=practice_name#
        </td>
        <td>
         #=invoice_date#
        </td>
        <td>
     # if(paid_date=="1/1/1753")
     {#
     <center>-</center>
     #}
     else
     {#
     #=paid_date#
     #}#
         </td>

        <td>#=Total#</td>
     <td>
     # if(Paid_Status=="Paid")
     {#
     <font color="green">#=Paid_Status#</font>
     #}
     else
     {#
     <font color="red">#=Paid_Status#</font>
     #}#
     </td>
 
    <td>
    #if(enable==true)
    {#
   <font color="gray">Mark Paid</font>
    #}
    else
    {#
    <a title="Paid" href="@Url.Action("Paid")/#= ID #" class="k-grid-delete" ><font color="blue">Mark Paid</font></a> 
    #}#
    </td>
        
    </tr>
       
</script>

</div>
<div id="DetailDialog" title="Session Detail">
</div>
<div id="UpdatePDialog" title="Edit Session Detail">
</div>
<div id="SessionDialog" title="New Session">
</div>
<div id="MessageDialog" title="Success Message">
    <p>
        Action Perfomed succesfully.
    </p>
   
</div>


<div id="confirm_dialog" title="Confirm Messageee" style="display:none;">
    <p>
        Do you want to Mark as Paid Invoice ???
    </p>
   
</div>

 <div id="update-message">
    </div>
<style type="text/css">
    
    #MessageDialog
    {
        text-align: center;
        font-size: 18px;
        font-weight: 900;
    }
</style>
<script>
    function onChange() {
        var grid = $("#grid").data('kendoGrid');
        var value = kendo.toString(this.value(), 'M/d/yyyy');
        if (value) {
            grid.dataSource.filter({
                logic: "or",
                filters: [
                                                  { field: "invoice_date", operator: "contains", value: value }
                         ]
            });
        }
        else {
            grid.dataSource.filter({});
        }
    }


    var today = new Date();
    $("#endDate").kendoDatePicker({

        change: onChange
    });
      
    
    </script>

    
   












